<div class="talk">
    {{ talk.speakers|join(', ') }}
    <h3 class="talk__title">{{- talk.title -}}</h3>
    <div class="talk__description">
        {% if talk.description %}
            <p>{{- talk.description -}}</p>
        {% endif %}
        <p>Moderated by {{ talk.moderator }}</p>
    </div>
    {% if talk.slackChannelUrl and talk.slackChannel %}
        <a href="{{ talk.slackChannelUrl }}" class="talk__link"><i
                    class="talk__icon icon icon--slack"></i>{{ talk.slackChannel }}</a>
    {% elseif talk.slackChannel %}
        <p class="talk__link"><i class="talk__icon icon icon--slack"></i>{{ talk.slackChannel }}</p>
    {% endif %}
    {% if talk.teamsUrl %}
        <a href="{{ talk.teamsUrl }}" class="talk__link"><i class="talk__icon icon icon--teams"></i>Join on Microsoft
            Teams</a>
    {% endif %}
</div>
