{% extends 'base.html.twig' %}

{% block title conference.siteTitle %}

{% block body %}

    {% include 'components/navigation.twig' only %}
    {% include 'components/masthead.twig' with {
        title : conference.siteTitle,
        subtitle: conference.date|date('d F Y') ~ ' – Hybrid (Vineyard House and Microsoft Teams)'
    } %}

    <div class="conference container">
        <section class="conference__section conference__section--intro">
            <h4>About Fabric Conference</h4>
            <p class="conference__desc">{{ conference.about|striptags }}</p>
            <div class="conference__details">
                {{ settings.conferenceDetails|raw }}
                {% if settings.currentConference is same as(conference) %}
                {% if conference.slackChannel and conference.slackChannelUrl %}
                <p>Follow updates throughout the day using <a href="{{ conference.slackChannelUrl }}" target="_blank">{{ conference.slackChannel }}</a> on Slack.</p>
                {% endif %}
                    <div class="conference__ctas">
                        {{ render(controller('App\\Controller\\QuestionController::new')) }}
                        {% if conference.feedbackFormUrl %}
                        <a href="{{ conference.feedbackFormUrl }}" target="_blank" class="button">Submit feedback</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="conference__section">
            <h4>Schedule</h4>
            {% include 'components/schedule.twig' with { schedule : schedule, settings : settings } only %}
        </section>
    </div>

    {% include 'components/footer.twig' only %}

{% endblock %}
